            @media only screen and (min-width: 768px) and (max-width: 991px) {
                .navbar ul:after {
                    display: none;
                }
            }
            
            @media only screen and (min-width: 600px) and (max-width: 767px) {
                .navbar ul:after {
                    visibility: hidden;
                }
            }
            
            @media only screen and (max-width: 599px) {
                .navbar ul:after {
                    visibility: hidden;
                }
            }